html{
  /* font più fluido al ridursi della finestra */
  font-size: clamp(14px, 1.1vw, 16px);
}

/*div generale della pagina*/
div#contenitore{
        margin-inline: auto;
        background: #F8FFF4;
}

/*logo aziendale*/
.contenitore-logo{
        display: flex;
        align-items: center;
        text-align: center;
        background-color: white;
}
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 90px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*testata con immagine di sfondo*/
div#testata{       
        background-image: url(./Immagini/azienda.jpg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid black;
        max-inline-size: 100%;
        height: 390px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*sezione con due colonne immagine e testo*/
.two-columns{ 
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
}
.col-text {
        padding: 20px;
}
.campi{
        display: block;       
        width: 80%;         
        height: auto;
        border-radius: 10px;

}
.col-image{

       width: 100%;
       max-width: 800px;    
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;

}
.col-text, .col-image{
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
}
.section{
        padding-block: 80px;
}
p{
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        padding: 10px;
        background: #F0F4EF;
        border-radius: 10px;
        border: 1px solid black;
}
div.contenuto{
        padding: 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-top: 125px;
}

/*sezione download relazione d'impatto 2024*/
.wrapper-download{
        margin-top: 300px;
        height: auto;
        background-color: #D6E5E3 ;
        margin-inline: auto;
        justify-content: center;
        align-items: center;

}
.titolo{
        text-align: center;
        color: rgb(71, 71, 71);
        font-weight: lighter;
}
.sottotitolo{
        display: block;
        color: rgb(71, 71, 71);
        text-align: left;
        font-size: 1.2em;
        padding: 30px;
}
.altrosottotitolo{
        display: block;
        font-size: 1em;
        font-weight: lighter;
        text-align: left;

}
.two-columns-download{
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
    
}
.col-text-download, .col-download{
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;

}   
.col-text-download{
        gap: 20px;
        padding: 10px;
        overflow: hidden;


}
.col-download{
        text-decoration: none;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

}
.download{
        display: flex;
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-image: url(./Immagini/esterno.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);      
        width: 95vw;                   
        max-width: 550px;              
        aspect-ratio: 55 / 28;
        padding: 20px;
        border-radius: 5px;
        padding: 20px;

}

/*grafico a barre*/
.grafico-barra {
      max-width:600px;
      margin: 150px auto;
}
h2.section-titolo{
        text-align: center;
        color: rgb(71, 71, 71);
        font-weight: normal;
        font-size: 1.8em;
        margin-bottom: 50px;
}
.barra {
      margin: 10px 0;
      background: #e0e0e0;
      border-radius: 4px;
      position: relative;
      height: 30px;
}
.barra span {
      display: block;
      height: 100%;
      background: #50ac53;
      border-radius: 5px;
      text-align: right;
      color: #fff;
      padding-right: 10px;
      line-height: 30px;
      font-weight: bold;
}
.etichetta{
      font-size: 1.1em;
      margin-bottom: 5px;
      font-weight: normal;
}

/* Tabella download */

.downloads{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 150px;
         
}

.contenitore-tabella{
        overflow-x: auto;
        width: 100%;
        display: flex;
        justify-content: center;


}

.download-tabella{
        border-collapse: collapse;
        width: 100%;
        max-width: 1000px;
        table-layout: fixed;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;

}

.download-tabella thead th{
       background:#F0F4EF;
       color: #111;
       font-weight: 600;
       padding: 12px 16px;
       border: 1px solid #d9dee7;       
}
.download-tabella tbody td{
        border: 1px solid #d9dee7;
        padding: 12px 16px;
        color: #333;

}

.download-tabella tbody tr:nth-child(even) {
        background: #e1f7e1;
}
.download-tabella tbody tr:nth-child(odd) {
        background: #e1f7e1;;
}
.download-tabella tbody tr:hover{
  background: rgb(195, 245, 201) ; /*colore evidenziazione riga al passaggio del mouse*/
}


/*sezione attività sostenibilità*/
.titolo-attività{
        margin-top: 180px;
        border: 1px dashed black;
        background: #F8FFF4 ;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h2.sottotitolo-attività{
        text-align: center;
        color:black;
        font-weight: lighter;
}


.three-columns-attività{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
}
.col-attività-1, .col-attività-2, .col-attività-3{
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 250px;
}
.two-columns-attività{
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
}
.two-columns-attività{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        align-items: stretch;
        margin: 0  auto;
}
.col-attività-4, .col-attività-5{ 
        flex: 1 1 45%;       
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 500px;
        min-width: 250px;
        width: 100%;
}
span{
        font-style: normal;
        color: black;
        font-weight: bold;
}
li{
        font-style: italic;
}
img.natura{
        display: block;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        height: 200px;
        padding: auto;
        object-fit: cover;
        border-radius: 10px;
}
img.goals{
        display: block;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        height: 200px;
        padding: auto;
        object-fit: contain;
        background-color: #00635D;
        border-radius: 10px;
}
.wrapper-attività{
        margin-top: 100px;
        margin-inline: auto;
}
.col-attività-1, .col-attività-2, .col-attività-3, .col-attività-4, .col-attività-5{
        max-width: 800px
}


/*sezione obiettivi di sviluppo sostenibile*/
.contenitore-titolo-obiettivi{
        margin-top: 180px;
        width: 30%;
        background:#F8FFF4 ;
        border: 1px dashed green;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;
        text-align: top;
        justify-content: top;
        align-items: top;
}
.contenitore-obiettivi{
        margin-top: 120px;
}
.contenitore-5-obiettivi{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-inline-size: 95%;
        gap: 35px;
        align-items: stretch;
        margin: 0 auto;
        
}
.obiettivo-1, .obiettivo-2, .obiettivo-3, .obiettivo-4, .obiettivo-5{
        flex: 1 1 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 100%;
        min-width: 275px;
        max-width: 275px;
        max-height: 350px;
        margin: 0;
        
}

.obiettivo-1:hover,
.obiettivo-2:hover,
.obiettivo-3:hover,
.obiettivo-4:hover,
.obiettivo-5:hover{
       transform: translateY(-3px);      /*lieve sollevamento*/
       box-shadow: 0 10px 20px rgba(0,0,0,.18), 0 4px 10px rgba(0,0,0,.12);
}

p.Obiettivi{
        border: none;
        height: 100%;
        width: 100%;
        color: black;
        display: block;
        justify-content: center;
        text-align: center;
        margin: 0;

}
.span-obiettivi{
        font-weight: bold ;
        color: #00635D;
}


/*sezione piede pagina*/
div.piedipagina{
        margin-top: 180px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background: #89B6A5;
        text-align: center;
        height: auto;
        padding-bottom: 30px;
        overflow: hidden;  /*per evitare overflow dell'immagine */
}
p.contenuto-piedipagina{
        height: 150px;
        border: none;
        background-color: #89B6A5;
        height: auto;
}
.Global-Compact{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 30px;
        background-image: url(./Immagini/unglobal.jpg);
        background-size: cover;
        background-position: center;
        width: 95vw;                   
        max-width: 550px;              
        aspect-ratio: 55 / 28;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
}


/* css per schermi max-width 1024px*/
@media (max-width: 1024px){
.two-columns,
.two-columns-download {
    gap: 16px;
  }

.col-text,
.col-image,
.col-text-download,
.col-download{
    margin-top: 60px;
  }


.download{
    font-size: 22px;
    padding: 16px;
    max-width: 520px;
    aspect-ratio: 55/28; 
    min-height: 110px;
  }
}

/*css per schermi max-width 768px */
@media (max-width: 768px){
.two-columns,
.two-columns-download{
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.col-text,
.col-image,
.col-text-download,
.col-download{
    flex: 1 1 100%;
    width: 95vw;        
    max-width: 700px;   
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 10px;
  }
.grafico-barra {
      width: 95vw;
      max-width: 700px;
      margin: 100px auto;
}
.etichetta {
        font-size: 1em;
    }
.barra {
        height: 25px;
    }
.barra span {
        font-size: 0.9em;
    }


  /* per tenere proporzioni */
.campi{
    width: 100%;
    height: auto;
    max-width: 700px;
    border-radius: 10px;
  }

 
.download{
    width: 95vw;
    max-width: 640px;
    aspect-ratio: auto;
    min-height: 100px;
    font-size: 1.05rem;
    padding: 14px;
  }
}



/* css per schermi max-width 380px */
@media (max-width: 380px){

.download{
    min-height: 88px;
    font-size: 0.95rem;
    padding: 10px;
  }

.grafico-barra {
      width: 95vw;
      margin: 100px auto;
}
.barra {
        height: 20px;
}
.barra span {
        font-size: 0.85rem;
    }
.Global-Compact{
    aspect-ratio: auto; 
  }

.col-text p{
    font-size: 0.95rem;
    padding: 8px;
  }
}







